.link {
  height: max-content;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;

  background-size: 200% auto !important;
}

.link:hover {
  cursor: pointer;

  background: linear-gradient(
    to right,
    #9333ea,
    #ec4899,
    #f97316,
    #ec4899,
    #9333ea
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: slideGradient 5s linear infinite;
}

@keyframes slideGradient {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}
