.button {
  background-color: transparent;
  padding: 3px;
  border: none;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.2s ease-in;
}

.glow {
  z-index: 1;
  border-radius: 4px;
  padding: 0;
  transition: all 0.2s ease-in;
}

.buttonInner {
  padding: 1rem;
  border-radius: 3px;
  background-color: #e4e3e3;
}

.button:hover {
  padding: 0;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(236, 72, 153, 0.5);
}

.button:hover .glow {
  padding: 3px;
  background-size: 200% auto !important;
  background: linear-gradient(
    to right,
    #9333ea,
    #ec4899,
    #f97316,
    #ec4899,
    #9333ea
  );
  animation: slideGradient 5s linear infinite;
}

.button:hover .buttonText {
  background-size: 200% auto !important;
  background: linear-gradient(
    to right,
    #9333ea,
    #ec4899,
    #f97316,
    #ec4899,
    #9333ea
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: slideGradient 5s linear infinite;
}

@keyframes slideGradient {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}
