.button {
  color: black;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.2s ease-in;
}

.glow {
  border-radius: 4px;
  padding: 3px;
  background-size: 200% auto !important;
  background: linear-gradient(
    to right,
    var(--primary-color-one),
    var(--primary-color-two),
    var(--primary-color-three),
    var(--primary-color-two),
    var(--primary-color-one)
  );
  animation: slideGradient 5s linear infinite;
}

.buttonInner {
  padding: 1rem;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in;
}

.buttonText {
  background-size: 200% auto !important;
  background: linear-gradient(
    to right,
    var(--primary-color-one),
    var(--primary-color-two),
    var(--primary-color-three),
    var(--primary-color-two),
    var(--primary-color-one)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: slideGradient 5s linear infinite;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.button:hover .buttonInner {
  box-shadow: 0 0 15px rgba(var(--primary-color-two-rgb), 0.5);
}

@keyframes slideGradient {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}
