.projectCard {
  flex: 1;
  width: 100%;
  height: 27rem;
  min-height: fit-content;
  padding: 1.3rem;
  border-radius: 3px;
  background-color: var(--light-grey);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in;
}

.projectCard:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(var(--primary-color-two-rgb), 0.5);
}

.imageContainer {
  width: 100%;
  height: 13rem;
  border-radius: 3px;

  overflow: hidden;
  position: relative;
}

.imageContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0.8rem 0;
}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
  /* Desktop styles here */
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles here */
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  .projectCard {
    gap: 1rem;
  }
}
