.container {
  /* border: 1px solid green; */
  width: 100%;
  max-width: 73rem;
  margin: auto;
  padding: 2rem;
  box-sizing: border-box;
}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
  /* Desktop styles here */
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles here */
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  .container {
    padding: 1rem;
  }
}
