.banner {
  /* border: 1px solid red; */
  width: 100%;
  padding-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePicContainer {
  width: 15rem;
  height: 15rem;
  border-radius: 1000rem;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

  overflow: hidden;
  position: relative;
}

.profilePicContainer img {
  position: relative;
  width: 100%;
  height: 100%;
}

.memoji {
  display: block;
  width: 10rem;
  margin-bottom: 2rem;
}

.bannerSubtitle {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.buttonContainer {
  margin-top: 2rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
