.banner {
  /* border: 1px solid red; */
  padding-top: 7rem;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperSection {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profilePicContainer {
  width: 17rem;
  height: 17rem;
  border-radius: 1000rem;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

  overflow: hidden;
}

.profilePicContainer img {
  width: 100%;
  height: 100%;
}

.bannerSubtitle {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
  /* Desktop styles here */
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles here */
}

/* Mobile (up to 767px) */
@media (max-width: 767px) {
  .banner {
    padding-top: 3rem;
  }

  .upperSection {
    height: 40rem;
  }
}
